.App {
  text-align: center;
  background-color: #111;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
}

.App-header > h1 {
  font-size: 3.4rem;
  margin-block-start: .4rem;
}

.App-header > h2 {
  font-size: 1.2rem;
  margin-block-start: .1rem;
  margin-block-end: .1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.section > h2 {
  margin-block-start: 3rem;
  margin-block-end: 1rem;
}

.section > h3 {
  margin-block-start: 3rem;
}

.placeholder {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}
